# Lesson 1 Key Concepts

## Importing libraries

In [3]:
from sqlalchemy import create_engine
import pandas as pd
import getpass  # To get the password without showing the input
password = getpass.getpass()

········

## Establishing the connection with MySQL

In [6]:
# this is the general syntax 'dialect+driver://username:password@host:port/database'
# to create the connection string

connection_string = 'mysql+pymysql://root:' + password + '@localhost/bank'
engine = create_engine(connection_string)
data = pd.read_sql_query('SELECT * FROM bank.loan', engine)
data.head()

,loan_id,account_id,date,amount,duration,payments,status,description
0,5314,1787,930705,96396,12,8033.0,B,Defaulter - Contract Finished
1,5316,1801,930711,165960,36,4610.0,A,Good - Contract Finished
2,6863,9188,930728,127080,60,2118.0,A,Good - Contract Finished
3,5325,1843,930803,105804,36,2939.0,A,Good - Contract Finished
4,7240,11013,930906,274740,60,4579.0,A,Good - Contract Finished

## Using engine object with executable class

In [ ]:
result = engine.execute('SELECT * FROM bank.loan')
for row in result:
    print(row)

rows = [row for row in result]
pd.DataFrame(rows)

## Creating other databases in our MySQL

In [ ]:
# Running other queries in SQL

engine.execute("DROP DATABASE IF EXISTS BootCamps")
engine.execute("CREATE DATABASE IF NOT EXISTS BootCamps")
engine.execute("USE BootCamps")

## Getting a Panda's dataframe (df) called "data" out of a MySQL query

In [ ]:
engine.execute("USE bank")
query = 'select order_id as "OrderID", account_id as "AccountID", bank_to as "DestinationBank", amount  as "Amount" \
from bank.order \
where k_symbol = "SIPO" \
limit 100'
data = pd.read_sql_query(query, engine)
data.head()

# Lesson 2 Key Concepts

How we can get the data?

In [ ]:
query = "select * from bank.trans t \
left join bank.loan l \
on t.account_id = l.account_id \
where l.status in ('A', 'B')"

data = pd.read_sql_query(query, engine)
data.head()

# Lesson 3 Key Concepts

## Getting our data

In [ ]:
# Extracting the data 

query = "select t.type, t.operation, t.amount as t_amount, t.balance, t.k_symbol, \
l.amount as l_amount, l.duration, l.payments, l.status from bank.trans t \
left join bank.loan l \
on t.account_id = l.account_id \
where l.status in ('A', 'B')"
data = pd.read_sql_query(query, engine)
data.head()

## Data exploration

In [ ]:
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
sns.set_theme(style="whitegrid")

### Knowing the shape and the column types of your dataframe

In [ ]:
print("The dataframe has {} rows and {} columns".format(data.shape[0],data.shape[1]))
print()
print("The data types of each column of the dataframe are:")
print(data.dtypes)
print()

### Fixing the type of column duration to categorical (nominal)

In [ ]:
data['duration'] = data['duration'].astype('str')
data['duration'] = data['duration'].astype('object') # This will be treated as categorical (ordinal)

### Getting basic statistical summary of the numerical columns

In [ ]:
data.describe()

### Looking for NA's

In [ ]:
print("The number of NA's in the dataframe is: ")
print(data.isna().sum())
print()

"Aparently" the are not missing values, but already know how nasty the SQL's NULLS are!

## Categorical columns

In [ ]:
## checking all the categorical columns
cols_cat = list(data.select_dtypes(include=['object']).columns)

print("The categorical columns are: ",cols_cat)
print("========================================")
print()

for col in cols_cat:
    print("Frequency analysis of column: ",col)
    my_data = data[col].value_counts().reset_index()
    ax = sns.barplot(x=col, y="index", data = my_data).set_title(col.upper())
    plt.figure()
    print()

### Replacing missing values in column "operation"

In [ ]:
# since we have a lot values for operation which are of type vyber,
# we are not removing that data from type column

def cleanOperation(x):
    x = x.lower()
    if 'vyber' in x:
        return "vyber"
    elif 'prevod' in x:
        return "prevod"
    elif 'vklad' in x:
        return 'vklad'
    else:
        return 'unknown'

data['operation'] = list(map(cleanOperation, data['operation']))
data['operation'].value_counts()

### Replacing missing values in column "k_symbol"

In [ ]:
print("Current frequencies of of each value in column 'k_symbol': ",data['k_symbol'].value_counts())
print(data['k_symbol'].value_counts().index)

def cleankSymbol(x):
    if x in ['', ' ']:
        return 'unknown'
    else:
        return x

data['k_symbol'] = list(map(cleankSymbol, data['k_symbol']))
print("Final frequencies of of each value in column 'k_symbol': ",data['k_symbol'].value_counts())

As we have too much "unknowns" and we don't know how to impute them. We drop such rows form the dataframe

In [ ]:
data = data[~data['k_symbol'].isin(['POJISTINE', 'SANKC. UROK', 'UVER'])]
data['k_symbol'].value_counts()

### Replacing values in column "duration"

In [ ]:
data['duration'].value_counts().index

def cleanDuration(x):
    if x in ['48', '60']:
        return 'other'
    else:
        return str(x)
data['duration'] = list(map(cleanDuration, data['duration']))
data['duration'].value_counts()

### Dummifying categorical columns

In [ ]:
cat = data.select_dtypes(include = np.object)
cat = cat.drop(['status'], axis=1)
categorical = pd.get_dummies(cat, columns=['type', 'operation', 'k_symbol', 'duration'],drop_first=True)
categorical.head()

## Numerical columns

### Checking for multicollinearity

In [ ]:
corr_matrix=data.corr(method='pearson')  # default
fig, ax = plt.subplots(figsize=(10, 8))
ax = sns.heatmap(corr_matrix, annot=True)
plt.show()

**Remember that multicollinearity is not a problem in a logistic model**

### Getting distributions of numericals

In [ ]:
sns.displot(data['t_amount'])
plt.show()

sns.displot(data['l_amount'])
plt.show()

sns.displot(data['balance'])
plt.show()

sns.displot(data['payments'])
plt.show()

High skewness!!! Specially for "t_amount". With a **linnear model we can't use them as they are**. 
With a **logistic model YES**, but it will help a lot to get a better model.

### Transforming numerical columns with different transformers

In [ ]:
from sklearn.preprocessing import Normalizer
from sklearn.preprocessing import StandardScaler

X = data.select_dtypes(include = np.number)

X1 = X.copy()
X2 = X.copy()

#### Normalizer

In [ ]:
# Normalizing data
transformer = Normalizer().fit(X1)
x_normalized = transformer.transform(X1)
x_normalized = pd.DataFrame(x_normalized)

In [ ]:
### Standarizer
transformer = StandardScaler().fit(X2)
x_standarized = transformer.transform(X2)
x_standarized = pd.DataFrame(x_standarized)

# Lesson 4 Key Concepts

In [ ]:
## Model 1: Independent variables normalized

In [ ]:
y = data['status']
X = np.concatenate((x_normalized, categorical), axis=1)

In [ ]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.4, random_state=100)

In [ ]:
from sklearn.linear_model import LogisticRegression

classification = LogisticRegression(random_state=0, solver='lbfgs',
                  multi_class='ovr').fit(X_train, y_train)

In [ ]:
y = data['status']
X = np.concatenate((x_standarized, categorical), axis=1)

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.4, random_state=100)

In [ ]:
classification = LogisticRegression(random_state=0, solver='lbfgs',
                  multi_class='ovr').fit(X_train, y_train)

In [ ]:
from sklearn.metrics import accuracy_score

predictions = classification.predict(X_test)

In [ ]:
from sklearn.metrics import confusion_matrix
from sklearn.metrics import plot_confusion_matrix
from sklearn.metrics import cohen_kappa_score

print("The accuracy of the model on test set is: %4.2f " % accuracy_score(y_test, predictions))
print(confusion_matrix(y_test, predictions))
plot_confusion_matrix(classification, X_test, y_test)  # doctest: +SKIP
plt.show()  # doctest: +SKIP
print("The Kappa of your model is: %4.2f" % (cohen_kappa_score(y_test, predictions)))