In [47]:
import numpy as np
import pandas as pd
import random

In [2]:
# Receipe for map, filter and reduce
# 1. function (function object that is not executed)
# 2. an **iterable** (something that you can iterate over)

In [3]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [7]:
# Map

# N to N relationship, we put in an iterable of length N and out comes N sized iterable

#map(the function object, something to iterate over)
    
list(map(str, [1,2,3,4,5,6,7,8]))

['1', '2', '3', '4', '5', '6', '7', '8']

In [8]:
def square_it(x):
    return x ** 2 + 5

In [9]:
list(map(square_it, [1, 23, 45, 56, 67]))

[6, 534, 2030, 3141, 4494]

In [10]:
# With multiple arguments
def judge_groceries(x,y):
    return f"What's this? A {x}, {y}!"

In [12]:
variable = 'Hello World'
print(f'My sentence is: {variable}') # put an f before to indicate that the variable within the curly brackets might change

My sentence is: Hello World

In [19]:
list(map(judge_groceries, ['apple', 'kiwi', 'cherry', 'sprouts'], ['yummy', 'meh', 'yummy', 'yummy!!!']))

["What's this? A apple, yummy!",
 "What's this? A kiwi, meh!",
 "What's this? A cherry, yummy!",
 "What's this? A sprouts, yummy!!!!"]

In [20]:
# Filter

filter(lambda x: x < 0, [-1, 4, 5, 10, 17, 11, -23])

In [22]:
list(filter(lambda x: x < 0, [-1, 4, 5, 10, 17, 11, -23]))

[-1, -23]

In [23]:
my_function = lambda x: x < 0

In [24]:
my_function(-5)

True

In [26]:
list(filter(lambda x: x in ['car', 'sky', 'hammer'], 
           ['house', 'car', 'apple', 'hammer', 'bread']))

['car', 'hammer']

In [30]:
def comparison(x):
    return x in ['car', 'sky', 'hammer']
list(map(comparison, ['house', 'car', 'apple', 'hammer', 'bread']))

[False, True, False, True, False]

In [27]:
# Reduce

from functools import reduce

In [31]:
# Unlike map and filter, reduce returns the result straight away. 
# No object
# Useful for e.g. compound interest rates

In [32]:
reduce((lambda x, y: x * y), [1,2,3,4,5,8])

960

In [35]:
# Turn [1,2,3,4,5,7,8,9,3] into 123,457,893

reduce(lambda a,d: 10*a + d, [1,2,3,4,5,7,8,9,3], 0)

123457893

In [36]:
# let's say we have this string
s = 'The-quick-brown-fox-jumps-over-the-lazy-dog'

color = lambda x: x.replace('brown', 'blue')
speed = lambda x: x.replace('quick', 'slow')
dashes = lambda x: x.replace('-', ' ')
work = lambda x: x.replace('lazy', 'indistrious')

fs = [str.lower, color, speed, dashes, work, str.title]

In [39]:
def call(s, func):
    return func(s)

reduce(call, 
      fs,
      s)

'The Slow Blue Fox Jumps Over The Indistrious Dog'

In [40]:
work(dashes(speed(color(s.lower())))).title()

'The Slow Blue Fox Jumps Over The Indistrious Dog'

In [41]:
# Apply

In [53]:
str_lst = ['The', 'Quick', 'Brown', 'fox', 'Jumps', 'over', 'the', 'lazy', 'dog', '-']

In [58]:

df = pd.DataFrame({'A': [random.choice(str_lst) for i in range(10)],
                   'B': [random.choice(str_lst) for i in range(10)],
                   'C': [1,24,5,2,3,8,2,5,7,1]})

In [59]:
df

       A      B   C
0    The   lazy   1
1      -    fox  24
2  Jumps  Brown   5
3   over    The   2
4   over  Jumps   3
5    the   lazy   8
6  Quick  Quick   2
7  Quick    the   5
8  Brown    dog   7
9   over   over   1

In [60]:
df.apply(dashes)

       A      B   C
0    The   lazy   1
1           fox  24
2  Jumps  Brown   5
3   over    The   2
4   over  Jumps   3
5    the   lazy   8
6  Quick  Quick   2
7  Quick    the   5
8  Brown    dog   7
9   over   over   1

In [61]:
df.dtypes

A    object
B    object
C     int64
dtype: object

In [62]:
df['C'].apply(lambda x:x**2)

0      1
1    576
2     25
3      4
4      9
5     64
6      4
7     25
8     49
9      1
Name: C, dtype: int64

In [63]:
df = pd.read_csv('unit4.csv')

In [64]:
df

,STATE,PVASTATE,DOB,MDMAUD,RECP3,GENDER,DOMAIN,INCOME,HOMEOWNR,HV1,...,VETERANS,NUMPROM,CARDPROM,CARDPM12,NUMPRM12,MAXADATE,RFA_2,NGIFTALL,TIMELAG,AVGGIFT
0,IL,,3712,XXXX,,F,T2,NaN,,479,...,,74,27,6,14,9702,L4E,31,4.0,7.741935
1,CA,,5202,XXXX,,M,S1,6.0,H,5468,...,,32,12,6,13,9702,L2G,3,18.0,15.666667
2,NC,,0,XXXX,,M,R2,3.0,U,497,...,,63,26,6,14,9702,L4E,27,12.0,7.481481
3,CA,,2801,XXXX,,F,R2,1.0,U,1000,...,,66,27,6,14,9702,L4E,16,9.0,6.812500
4,FL,,2001,XXXX,X,F,S2,3.0,H,576,...,,113,43,10,25,9702,L2F,37,14.0,6.864865
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90564,FL,,4803,XXXX,,F,S2,6.0,H,733,...,,59,23,5,12,9702,L4D,24,3.0,3.375000
90565,AK,,0,XXXX,,M,C2,NaN,,988,...,,14,6,5,12,9702,L1G,1,NaN,25.000000
90566,TX,,5001,XXXX,,M,C1,7.0,H,1679,...,,10,4,3,8,9702,L1F,1,NaN,20.000000
90567,MI,,3801,XXXX,X,M,C3,NaN,,376,...,,33,14,7,17,9702,L3E,7,3.0,8.285714
90568,NC,,1801,C1CM,,F,C1,5.0,U,938,...,,139,32,6,35,9702,L1G,39,6.0,96.794872

In [65]:
df['DOMAIN'].unique()

array(['T2', 'S1', 'R2', 'S2', 'T1', 'R3', 'U1', 'C2', 'C1', 'U3', ' ',
       'R1', 'U2', 'C3', 'U4', 'S3', 'T3'], dtype=object)

In [66]:
domain_categories = {'U': 'Urban',
                     'C': 'City',
                     'S': 'Suburban',
                     'T': 'Town',
                     'R': 'Rural'
                     }

In [68]:
for k,v in domain_categories.items():
    print('key is', k)
    print('value is', v)

key is U
value is Urban
key is C
value is City
key is S
value is Suburban
key is T
value is Town
key is R
value is Rural

In [69]:
# How do we get the values?

domain_categories['S']

'Suburban'

In [71]:
#df['DOMAIN'].apply(some translation function)

In [72]:
def clean_domain(x):
    if x[0] in domain_categories.keys():
        return domain_categories[x[0]]
    else:
        return np.NaN
    
    # TODO
    # Check is first character of x is in the key of the dictionary
        #if so, return the corresponding value
    # else:
        # return np.NaN

In [73]:
df['DOMAIN'].apply(clean_domain)

0            Town
1        Suburban
2           Rural
3           Rural
4        Suburban
           ...
90564    Suburban
90565        City
90566        City
90567        City
90568        City
Name: DOMAIN, Length: 90569, dtype: object

In [74]:
df['DOMAIN'].apply(clean_domain).unique()

array(['Town', 'Suburban', 'Rural', 'Urban', 'City', nan], dtype=object)

In [75]:
df['DOMAIN'] = pd.Series(map(clean_domain, df['DOMAIN']))

In [76]:
df['DOMAIN']

0            Town
1        Suburban
2           Rural
3           Rural
4        Suburban
           ...
90564    Suburban
90565        City
90566        City
90567        City
90568        City
Name: DOMAIN, Length: 90569, dtype: object